:root:root {
  --p-border-radius-md: 5px;
  --p-border-radius-lg: 6px;
  --p-border-radius-xl: 6px;
}

:root {
  --font-main:
    'HarmonyOS Sans SC', MiSans, 'Sarasa UI SC', 'PingFang SC', 'Noto Sans CJK SC',
    'Noto Sans S Chinese', 'Microsoft YaHei', 'WenQuanYi Micro Hei', 'JetBrains Mono', sans-serif;
  --font-monospace:
    'JetBrains Mono', 'Sarasa Term SC', 'Iosevka', 'Fira Code', 'Source Code Pro', monospace;
  user-select: none;
  --global-background: white;
  @media (prefers-color-scheme: dark) {
    --global-background: #121212;
  }
  background-color: var(--global-background);
}

:root,
input {
  font-family: var(--font-main);
  line-height: 1.4;
}

::selection {
  background-color: color-mix(in srgb, var(--p-primary-400), transparent 55%);
}

.monospace {
  font-family: var(--font-monospace);
}
.timeinput.timeinput,
.durationinput input {
  font-family: var(--font-monospace);
  width: 9ch;
  box-sizing: content-box;
}

.durationinput input {
  text-align: right;
}

.hflex {
  display: flex;
  flex-direction: row;
}
.vflex {
  display: flex;
  flex-direction: column;
}

.p-contextmenu.p-contextmenu {
  &-enter-active,
  &-leave-active {
    transition: opacity 0.1s;
  }
}

.p-inputgroupaddon {
  z-index: 1;
  &:has(.p-button:focus-visible) {
    outline: var(--p-button-focus-ring-width) var(--p-button-focus-ring-style)
      var(--p-button-secondary-focus-ring-color);
    outline-offset: var(--p-button-focus-ring-offset);

    box-shadow: var(--p-button-secondary-focus-ring-shadow);
  }
}

.p-slider-handle {
  box-shadow: 0 0 0 2px inset var(--p-slider-handle-background);
  background-color: var(--p-slider-handle-content-background) !important;
  &::before {
    content: unset !important;
  }
  &:active,
  :root:has(&:active) * {
    cursor: grabbing;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
}

.kvgrid {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-items: stretch;
  row-gap: 0.3rem;
  column-gap: 0.5rem;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation: none !important;
    transition: none !important;
  }
}

::-webkit-scrollbar-track {
  background: transparent;
  &:hover {
    background: transparent;
  }
}

::-webkit-scrollbar-corner {
  background: transparent;
  &:hover {
    background: transparent;
  }
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 14px;
  height: 14px;
}

::-webkit-scrollbar-thumb {
  border: solid transparent 5px;
  box-shadow:
    inset 0 0 0 1px rgba(128, 128, 128, 0.15),
    inset 0 0 0 6px rgba(128, 128, 128, 0.25);
  border-radius: 8px;
  background: transparent;

  &:hover {
    background: transparent;
  }
}

a[href] {
  text-decoration: none;
}

hr {
  margin: 0;
  border: none;
  border-top: solid 1px var(--p-form-field-border-color);
}
